span, p, div, button, input, h1, h2, h3, h4, h5, body {
    color: #002A44;
}

html body {
    font-family: "Lato","Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #673C19;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

span, p, div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    -webkit-user-drag: none;
}

.combatant-list-container {
    margin: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: content;
}

.combatant-list {

}

.combatant-list__element:hover {
    background: #4598CD
}

.combatant-list__element {
    /*background-color: #D6EBF7;*/
    /*border: solid 1px black;*/
    margin: 1px;
    display: flex;

    text-decoration: none;
    text-rendering: optimizeLegibility;
    list-style: none;


    /*-webkit-margin-before: 1em;*/
    /*-webkit-margin-after: 1em;*/
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;

    background: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
}

.combatant-list__element--init {
    -webkit-user-drag: element;
}

.combatant-list__element--selected-init {
    background-color: #ADD7F0;
}

.combatant-list__element--editor {
    background-color: #F5ECB6;
}

.combatant-list__element--selected-editor {
    background-color: #E4CC37;
}

.combatant__name {
    vertical-align: middle;
    font-size: 18px;
    align-items: center;
    display: inline-flex;
}

.combatant__info {
    display: flex;
    align-content: center;
}

.combatant__info--extras {
    background-color: #76A530;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.combatant__info--space-between {
    justify-content: space-between;
}

.combatant__info--space-around {
    justify-content: space-around;
}

.combatant__info--wrap {
    flex-wrap: wrap;
}

.combatant__info--hp {
    margin-right: 10px;
}

.combatant__info--hidden {
    display: none;
}

.combatant__info--vertical {
    flex-direction: column;
}

.combatant__combat-stats-label {
    font-size: 16px;
    align-items: center;
    display: inline-flex;
}

.combatant__condition-label {
    font-style: italic;
}

.overlay {
    position: fixed;
    overflow: auto;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 900;
    background-color: rgba(255,255,255,.97);
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.overlay--dark {
    background-color: rgba(0,0,0,.6);
}

.modal-dialog {
    position: fixed; /* could be absolute */
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    width: 200px;
    height: 150px;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    /*border: solid 1px black;*/
}

.modal-dialog h1 {
    font-size: 14px;
}

.modal-dialog header {
    display: flex;
    justify-content: space-between;
}

.modal-dialog-contents {

}

.modal-message {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin-top: 50vh;
    margin-left: 50vw;
    display: flex;
    flex-direction: column;
}