ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tab {
    display: flex;
}

.button-panel {
    display: flex;
}

.button-panel--init-roll {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.button {
    background-color: lightgray;
    border-color: black;
    border-width: 1px;
    margin: 3px;
}

.button--hp {
    background-color: white;
}

.input {
}

.input--initiative {
    width: 27px;
    height: 17px;
    padding: 0;
    margin: 3px;
    text-align: center;
    border: solid 1px black;
}

.input--max-hp {
    height: 17px;
    width: 35px;
    padding: 0;
    margin: 3px;
    text-align: center;
    border: solid 1px black;
}

.combat-pane {
    width: 400px;
}

.combat-pane__title {
    text-align: center;
    /*font-family: Broadway;*/
    font-size: 30px;
}

.combatant-list {
    margin: 3px;
}

.combatant-list__element {
    background-color: #e7e7e7;
    border: solid 1px black;
    margin: 1px;
    display: flex;
}

.combatant-list__element--editor {
    background-color: bisque;
}

.combatant-list__element--selected-editor {
    background-color: #bf9897;
}

.combatant-list__element--selected-init {
    background-color: #a6d9db;
}

.combatant {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.combatant__turn-arrow {
    flex-basis: content;
    font-size: 20px;
    margin-left: 2px;
    width: 30px;
}

.combatant__name {
    vertical-align: middle;
    font-size: 20px;
}

.combatant__info {
    display: flex;
    align-content:center;
}

.combatant__info--extras {
    background-color: #c9ae96;
}

.combatant__info--space-between {
    justify-content: space-between;
}

.combatant__info--space-around {
    justify-content: space-around;
}

.combatant__info--wrap {
    flex-wrap: wrap;
}

.combatant__info--hp {
    margin-right: 10px;
}

.combatant__info--hidden {
    display: none;
}

.combatant__info--vertical {
    flex-direction: column;
}

.combatant__combat-stats-label {
    font-style: italic;
    font-size: 20px;
}

.combatant__condition-label {
    font-style: italic;
}